aiohappyeyeballs
aiohttp
aiosignal
antlr4-python3-runtime
asttokens
async-timeout
attrs
beautifulsoup4
captum
certifi
charset-normalizer
cilog
cloudpickle
contourpy
cycler
decorator
dive-into-graphs
et-xmlfile
exceptiongroup
executing
filelock
fonttools
frozenlist
fsspec
gdown
h5py
hf-xet
huggingface-hub
hydra-core
idna
ipython
jedi
jinja2
joblib
kiwisolver
llvmlite
markupsafe
matplotlib
matplotlib-inline
mc-bin-client
mpmath
multidict
munch
mypy-extensions
networkx
numba
numpy
omegaconf
openpyxl
packaging
pandas
parso
pexpect
pillow
prompt-toolkit
propcache
psutil
ptyprocess
pure-eval
pygments
pyparsing
pyscf
pysocks
python-dateutil
pytz
pyyaml
rdkit>=2022.09.1
regex
requests
safetensors
scikit-learn
scipy
setuptools
shap
six
slicer
soupsieve
stack-data
sympy
tabulate
tap
threadpoolctl
tokenizers
tqdm
traitlets
transformers
typed-argument-parser
typing-extensions
typing-inspect
tzdata
urllib3
wcwidth
xxhash
yarl
